#go_back_button {
    position: relative ;
    background-color: aqua;
    border-radius: 10px;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-450%, 50%) */
}
#subsections_columbia{
justify-content: left;
}
#QC_columbia_domestic_violence_heading{
    position: relative;
    left: 40%;
    
}
#QC_columbia_financial_aid_heading{
    position: relative;
    left: 40%;
}
#QC_columbia_homelessness_heading{
    position: relative;
    left: 40%;
}
#QC_columbia_LGBT_heading{
    position: relative;
    left: 40%;    
}
#QC_columbia_LGBT_trans_heading{
    position: relative;
    left: 40%;
}
#QC_columbia_LGBT_GBQA_heading{
    position: relative;
    left: 40%;
}
#QC_columbia_disability_heading{
    position: relative;
    left: 40%;
}
#LGBT_name_change_button {
    position: relative;
    background-color: aqua;
    border-radius: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
#DV_personal_experience_button {
    position: relative;
    background-color: aqua;
    border-radius: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
#DV_personal_experience_site_button{
    position: relative;
    background-color: aqua;
    border-radius: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#DV_personal_experience_site_button_info{
    position: relative;
    left:25%;
    font-style: italic;
}
